

.ib-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#side-bar,
.menu-link {
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*#menu:active {
    width: 0px;
}*/
#menu-toggle {display: none}
#menu-toggle + label {
    position: absolute;
    right: 0;
    z-index: 1001;
}

#menu-toggle:checked ~ #side-bar {width: 54px; overflow-x: hidden;}
#menu-toggle:checked ~ .content {margin-left: 198px;}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #side-bar {
        right: -198px;
        width: 0px;
    }

    #layout.active .menu-link {
        
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 0 0 36px;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }


#side-bar{
   padding-top: 36px; 
    width: 198px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* so the menu stays above all content */
    background: rgb(247, 249, 251);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding-left: 24px;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #side-bar a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */



/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 0px;  left col width "#menu" 
        left: 0;
    }
    #menu {
        right: 0px;
    }
}

@media (max-width: 48em) {
    #layout.active {
        position: relative;
        left: 198px;
    }
}*/
