
/* FONTS */

@font-face {
  font-family: "Cerebri Sans Regular";
  src: url("../../assets/fonts/CerebriSans-Regular.otf");
}

@font-face {
  font-family: "Cerebri Sans Medium";
  src: url("../../assets/fonts/CerebriSans-Medium.otf");
}

/* APP BASE */

html,
body {
  font-family: 'Cerebri Sans Regular';
  background-color: #fff;
  color: #042D45;
  overflow: hidden;
  height: 100%;
}

.layout-container {
  height: inherit;
  position: relative;
  box-sizing: border-box;
}

.layout-main,
.layout-sidebar {
  box-sizing: border-box;
  display: inline-block;
  height: inherit;
  float: left;
  padding: 0 .3em;
}

.layout-main {
  width: calc(100% - 250px);
}

.layout-main--header {
  min-height: 70px;
}

.layout-main--page {
  height: calc(100% - 70px);
  overflow: auto;
}

.layout-sidebar {
  width: 250px;
  background-color: #F7F9FB;
}

/* APP UTILS */

/* position */

.u-float-r {
  float: right;
}

.u-no-pad {
  padding: 0 !important;
}

.u-p-3 {
  padding: 18px;
}

.u-mb-3 {
  margin-bottom: 18px;
}

.u-mb-4 {
  margin-bottom: 24px;
}

.u-my-4 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u-mx-4 {
  margin-left: 24px;
  margin-right: 24px;
}

/* color */

.u-color-light {
  color: #89969F;
}

/* text */

.u-text-uppercase {
  text-transform: uppercase;
  font-family: 'Cerebri Sans Medium';
  text-transform: uppercase;
  font-size: 0.786em;
}

.u-text-lg {
  font-family: 'Cerebri Sans Regular';
  font-size: 1.286em;
  line-height: 1.6em;
}








