
/* FONT IMPORTS */

@font-face {
  font-family: "Cerebri Sans Regular";
  src: url("../../assets/fonts/CerebriSans-Regular.otf");
}

@font-face {
  font-family: "Cerebri Sans Medium";
  src: url("../../assets/fonts/CerebriSans-Medium.otf");
}

/* APP BASE */

html,
body {
  font-family: 'Cerebri Sans Regular', sans-serif;
  background-color: #fff;
  color: #042D45;
  overflow: hidden;
  height: 100%;
}

.layout-container {
  height: inherit;
  position: relative;
  box-sizing: border-box;
}

.layout-main,
.layout-sidebar {
  box-sizing: border-box;
  display: inline-block;
  height: inherit;
  float: left;
  padding: 0 .3em;
}

.layout-main {
  box-sizing: border-box;
  width: calc(100% - 250px);
}

.layout-main--header {
  box-sizing: border-box;
  height: 70px;
  max-height: 70px;
}

.layout-main--page {
  box-sizing: border-box;
  height: calc(100% - 70px);
  overflow: auto;
}

.layout-sidebar {
  width: 250px;
  background-color: #F7F9FB;
}

.layout-sidebar--header {
  box-sizing: border-box;
  height: 70px;
  max-height: 70px;
}
