

 .hidden {
    display: none !important;
}

/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */

.ib-img {
  max-width: 100%;
  height: auto;
  display: block;
}


.ib-layout {
  position: relative;
  left: 0;
  padding-left: 0;
}
.ib-layout:active .side-bar {
  right: -198px;
  width: 0px;
}


.ib-container {
  width: 100%;
  background-color: #F7F9FB;
  border: 0px;
  border-radius: 4px;
  margin-bottom: 0.5em;
  opacity: .99;
  padding-bottom: 0.4em;
}

.ib-container-register-to-grid{
  padding-left: 0.55em;
}

.ib-container-flex {
  display: flex;
}

.ib-content {
  margin: 0 0 0 36px;
  padding: 0 2em;
  max-width: 80%;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.ib-header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
 }
.ib-header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.ib-header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

.layout,
.menu,
.ib-menu-link {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
} 

/* find a new home for code below*/

.app-container {
  height: 100%;
}

.app-main {
  height: inherit;
  /*width: calc(100% - 250px);*/
  background-color: yellow;
  /*overflow: auto;*/
}

.app-sidebar {
  height: inherit;
  /*max-width: 250px;*/
  background-color: red;
  /*overflow: hidden;*/
}
