
/* BUTTONS */

.btn {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
      user-select: none;
  box-sizing: border-box;

  font-family: inherit;
  padding: 0.6em 1.3em;
  color: #042D45;
  border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
  background-color: rgb(247, 249, 251);
  text-decoration: none;
  border-radius: 4px;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn-group {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.btn-group .btn {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.btn:hover,
.btn:focus {
  filter: alpha(opacity=90);
}

.btn:focus {
  outline: 0;
}

.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
  border: none;
  background-image: none;
  background-color: #E1E6E8;
  filter: alpha(opacity=40);
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.btn-hidden {
  display: none;
}

/* groups of buttons */

.btn-group .btn {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.btn-group .btn:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

/* sizes */

.btn-lg {
  padding: 0.9em 1.3em;
}


/* inputs with buttons in the field */

input + .btn {
  border-radius: 0px 4px 4px 0px;
  height: 2.2em;
}

input.input-lg + .btn {
  height: 3.4em;
}


/* button colors */

.btn-primary {
  background: rgb(87, 226, 194); /* green */
  color: white;
}

.btn-secondary {
  background: rgb(4, 45, 69); /* this is a dark blue */
  color: white;
}

.btn-warn {
  background: #FFB9BB; /* this is a maroon */
}
