.ib-btn {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-sizing: border-box;
}
/* Firefox: Get rid of the inner focus border */
.ib-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Inherit .pure-g styles */
.ib-btn-group {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.ib-btn-group {
    word-spacing: -0.43em;
}

.ib-btn-group .ib-btn {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

/*csslint outline-none:false*/

.ib-btn {
    font-family: inherit;
    font-size: 100%;
    padding: 0.9em 1.7em;
    color: inherit;
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: rgb(247, 249, 251);
    text-decoration: none;
    height: 3.000em;
    width: 7.500em;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}



.ib-btn-container {
  float: right;
  padding-right: 0.75em;
  padding-top: 1.8em;
}

.ib-btn-search {
  margin-left: -50px;
  height: 3.643em;
  width: 4.714em;

  border-radius: 0 4px 4px 0;
}

.ib-btn-success {
  background: rgb(87, 226, 194); /* this is a green */
  color: white;
}

.ib-btn-live {
  background-color: #65CEB7;
}

.ib-btn-danger{
    background: #FFB9BB; /* this is a maroon */
}

.ib-btn-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.ib-btn-secondary {
    background: rgb(4, 45, 69); /* this is a light blue */
}

.ib-btn-hover,
.ib-btn:hover,
.ib-btn:focus {
    /* csslint ignore:start */
    filter: alpha(opacity=90);
    /* csslint ignore:end */
}
.ib-btn:focus {
    outline: 0;
}
.ib-btn-active,
.ib-btn:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}

.ib-btn[disabled],
.ib-btn-disabled,
.ib-btn-disabled:hover,
.ib-btn-disabled:focus,
.ib-btn-disabled:active {
    border: none;
    background-image: none;
    background-color: #E1E6E8;
    color: black;
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.ib-btn-hidden {
    display: none;
}

.ib-btn-primary,
.ib-btn-selected,
a.ib-btn-primary,
a.ib-btn-selected {
    background: rgb(87, 226, 194); /* this is a green */
    color: #fff;
}

/* Button Groups */
.ib-btn-group .ib-btn {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #111;  /* fallback color for rgba() for IE7/8 */
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.ib-btn-group .ib-btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.ib-btn-group .ib-btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}
