.ib-data{
  border: 0px;
  box-sizing: border-box;
  font-family: 'Cerebri Sans Regular';
  text-overflow: ellipsis;
  padding: .75em;
  background-color: #F7F9FB;
}

.ib-data-container {
  margin-bottom: .5em;
}

.ib-data-field {
  vertical-align: middle;
  padding: .5em 0 .5em 0;
}

.ib-data-message {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  resize: inherit;
  display: inline-block;
  border: 0px;
  background-color: #F7F9FB;
  padding-bottom: .4em;
}
