


/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/

.ib-form input[type="text"],
.ib-form input[type="password"],
.ib-form input[type="email"],
.ib-form input[type="url"],
.ib-form input[type="date"],
.ib-form input[type="month"],
.ib-form input[type="time"],
.ib-form input[type="datetime"],
.ib-form input[type="datetime-local"],
.ib-form input[type="week"],
.ib-form input[type="number"],
.ib-form input[type="search"],
.ib-form input[type="tel"],
.ib-form input[type="color"],
.ib-form select {
  padding: 0.5em 0.6em;
  display: inline-block;
  border-radius: 4px;
  border: 0px;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: 'Cerebri Sans Regular';
  text-overflow: ellipsis;
  background-color: #F7F9FB;
}

.ib-form input[type="number"] {
  text-overflow: none;
}

.ib-form .ib-form-eth input[type="number"] {
  background-color: #E1E6E8;
}

.ib-form textarea {
  width: 100%;
  height: 10.071em;
  box-sizing: border-box;
  outline: none;
  resize: inherit;
  font-family: 'Cerebri Sans Regular';
  font-size: 1.286em;
  line-height: 1.6em;
  display: inline-block;
  border-radius: 4px;
  border: 0px;
  padding: 0.4em;
  background-color: #F7F9FB;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.ib-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.ib-form input[type="color"] {
  padding: 0.2em 0.5em;
}


.ib-form input[type="text"]:focus,
.ib-form input[type="password"]:focus,
.ib-form input[type="email"]:focus,
.ib-form input[type="url"]:focus,
.ib-form input[type="date"]:focus,
.ib-form input[type="month"]:focus,
.ib-form input[type="time"]:focus,
.ib-form input[type="datetime"]:focus,
.ib-form input[type="datetime-local"]:focus,
.ib-form input[type="week"]:focus,
.ib-form input[type="number"]:focus,
.ib-form input[type="search"]:focus,
.ib-form input[type="tel"]:focus,
.ib-form input[type="color"]:focus,
.ib-form select:focus,
.ib-form textarea:focus {
  outline: none;

}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.ib-form input:not([type]):focus {
}

.ib-form input[type="file"]:focus,
.ib-form input[type="radio"]:focus,
.ib-form input[type="checkbox"]:focus {

}
.ib-form .ib-checkbox,
.ib-form .ib-radio {
  margin: 0.5em 0;
  padding-top: 0.55em;
}

.ib-form .ib-inline {
  padding-top: 0.55em;
  padding-left: 0em;
}

.ib-form input[type="text"][disabled],
.ib-form input[type="password"][disabled],
.ib-form input[type="email"][disabled],
.ib-form input[type="url"][disabled],
.ib-form input[type="date"][disabled],
.ib-form input[type="month"][disabled],
.ib-form input[type="time"][disabled],
.ib-form input[type="datetime"][disabled],
.ib-form input[type="datetime-local"][disabled],
.ib-form input[type="week"][disabled],
.ib-form input[type="number"][disabled],
.ib-form input[type="search"][disabled],
.ib-form input[type="tel"][disabled],
.ib-form input[type="color"][disabled],
.ib-form select[disabled],
.ib-form textarea[disabled] {
  cursor: not-allowed;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.ib-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.ib-form input[readonly],
.ib-form select[readonly],
.ib-form textarea[readonly] {
}

.ib-form input:focus:invalid,
.ib-form textarea:focus:invalid,
.ib-form select:focus:invalid {
  color: #b94a48;
}
.ib-form input[type="file"]:focus:invalid:focus,
.ib-form input[type="radio"]:focus:invalid:focus,
.ib-form input[type="checkbox"]:focus:invalid:focus {
}
.ib-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}
.ib-form select[multiple] {
  height: auto;
}

.ib-form label {
  margin: 0.5em 0 0.2em;
  padding-left: 0.75em;
}

.ib-form fieldset {
  margin: 0;
  padding: 0.35em 0.625em 0.75em;
  padding-bottom: 0.2em;
  border: 0;
}
.ib-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.ib-form-stacked input[type="text"],
.ib-form-stacked input[type="password"],
.ib-form-stacked input[type="email"],
.ib-form-stacked input[type="url"],
.ib-form-stacked input[type="date"],
.ib-form-stacked input[type="month"],
.ib-form-stacked input[type="time"],
.ib-form-stacked input[type="datetime"],
.ib-form-stacked input[type="datetime-local"],
.ib-form-stacked input[type="week"],
.ib-form-stacked input[type="number"],
.ib-form-stacked input[type="search"],
.ib-form-stacked input[type="tel"],
.ib-form-stacked input[type="color"],
.ib-form-stacked input[type="file"],
.ib-form-stacked select,
.ib-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}
.ib-form-stacked label {
  display: block;
  margin: 0.5em 0;
}
/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.ib-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.ib-form-aligned input,
.ib-form-aligned textarea,
.ib-form-aligned select,
/* NOTE: ib-help-inline is deprecated. Use .ib-form-message-inline instead. */
.ib-form-aligned .ib-help-inline,
.ib-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.ib-form-aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.ib-form-aligned .ib-control-group {
  margin-bottom: 0.5em;
}
.ib-form-aligned .ib-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.ib-form-aligned .ib-controls {
  margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.ib-form input.ib-input-rounded,
.ib-form .ib-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

/* Grouped Inputs */
.ib-form .ib-group fieldset {
  margin-bottom: 14px;
}
.ib-form .ib-group input,
.ib-form .ib-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.ib-form .ib-group input:focus,
.ib-form .ib-group textarea:focus {
  z-index: 3;
}
.ib-form .ib-group input:first-child,
.ib-form .ib-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}
.ib-form .ib-group input:first-child:last-child,
.ib-form .ib-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}
.ib-form .ib-group input:last-child,
.ib-form .ib-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}
.ib-form .ib-group button {
  margin: 0.35em 0;
}

.ib-form .ib-input-1 {
  width: 100%;
}
.ib-form .ib-input-3-4 {
  width: 75%;
}
.ib-form .ib-input-2-3 {
  width: 66%;
}
.ib-form .ib-input-1-2 {
  width: 50%;
}
.ib-form .ib-input-1-3 {
  width: 33%;
}
.ib-form .ib-input-1-4 {
  width: 25%;
}

/* Inline help for forms */
/* NOTE: ib-help-inline is deprecated. Use .ib-form-message-inline instead. */
.ib-form .ib-help-inline,
.ib-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.ib-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

@media only screen and (max-width : 480px) {
  .ib-form button[type="submit"] {
    margin: 0.7em 0 0;
  }

  .ib-form input:not([type]),
  .ib-form input[type="text"],
  .ib-form input[type="password"],
  .ib-form input[type="email"],
  .ib-form input[type="url"],
  .ib-form input[type="date"],
  .ib-form input[type="month"],
  .ib-form input[type="time"],
  .ib-form input[type="datetime"],
  .ib-form input[type="datetime-local"],
  .ib-form input[type="week"],
  .ib-form input[type="number"],
  .ib-form input[type="search"],
  .ib-form input[type="tel"],
  .ib-form input[type="color"],
  .ib-form label {
    margin-bottom: 0.3em;
    display: block;
  }

  .ib-group input:not([type]),
  .ib-group input[type="text"],
  .ib-group input[type="password"],
  .ib-group input[type="email"],
  .ib-group input[type="url"],
  .ib-group input[type="date"],
  .ib-group input[type="month"],
  .ib-group input[type="time"],
  .ib-group input[type="datetime"],
  .ib-group input[type="datetime-local"],
  .ib-group input[type="week"],
  .ib-group input[type="number"],
  .ib-group input[type="search"],
  .ib-group input[type="tel"],
  .ib-group input[type="color"] {
    margin-bottom: 0;
  }

  .ib-form-aligned .ib-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }

  .ib-form-aligned .ib-controls {
    margin: 1.5em 0 0 0;
  }

  /* NOTE: ib-help-inline is deprecated. Use .ib-form-message-inline instead. */
  .ib-form .ib-help-inline,
  .ib-form-message-inline,
  .ib-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
    text-overflow: none;
    overflow-wrap: normal;
  }
}



.ib-input-success {
  background-color: rgb(87, 226, 194);
}

.ib-input-danger {
  background-color: #FCCFCF;
}

.ib-input-group {
  display: flex;
  margin-bottom: 1.5em;
}

.ib-input-group-field {
  flex: 1;
}
.ib-input-group-field:not(:first-child) {
  border-left: 0;

}
.ib-input-group-field:not(:last-child) {
  border-right: 0;

}

.ib-input-group-item {
  font: inherit;
  font-weight: normal;
}

.ib-input-group-field,
.ib-input-group-item {
 /* border: 1px solid rgba(147, 128, 108, 0.25);*/
  padding: 0.5em 0.75em;
  color: inherit;
}
.ib-input-group-field:first-child,
.ib-input-group-item:first-child {
  border-radius: 4px 0 0 4px;
  margin-right: -1px;

}
.ib-input-group-field:last-child,
.ib-input-group-item:last-child {
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}

  .ib-form-select {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("../../icons/Arrow Down.png") no-repeat 90% 50%;
  }

  .ib-form-select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
  }

  .ib-form-select select:focus {
    outline: none;
  }

  .ib-alert-error{
    width: 100%;
    height: 30px;
    background: #EA4D4D;
    border-radius: 0  0 4px 4px;
    color: white;
    padding: 12px 0 0 12px;
    
  }

  .ib-alert-success{
    width: 100%;
    height: 30px;
    background: #50E3C2;
    border-radius: 0  0 4px 4px;
    color: white;
    padding: 12px 0 0 12px;
  }

  .ib-alert-error-big{
    width: 100%;
    height: 300px;
    background: #EA4D4D;
    border-radius: 4px;
    color: white;
    padding: 18px 0 0 12px;
    text-align: center;
  }

  .ib-alert-success-big{
    width: 100%;
    height: 300px;
    background: #50E3C2;
    border-radius: 4px;
    color: white;
    padding: 18px 0 0 12px;
    text-align: center;
  }

  .ib-error-text{
    color: #EA4D4D;
  }
