
/* ICONS */

[class^="icon-"] {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  vertical-align: middle;
}

.icon-arrow--right {
  background: no-repeat url(../../assets/icons/arrow-right.svg) center center;
}

.icon-arrow--left {
  background: no-repeat url(../../assets/icons/thin-arrow-inbox-left.svg) center center;
}


.icon-hamburger {
  background: no-repeat url(../../assets/icons/hamburger.svg) center center;
  height: 23px;
  width: 34px;
}

.icon-arrow--collapse {
  background: no-repeat url(../../assets/icons/collapse-arrow.svg) center center;
}


.icon-pencil {
  background: no-repeat url(../../assets/icons/compose-icon.svg) center center;
}

.icon-mail {
  background: no-repeat url(../../assets/icons/mail.svg) center center;
  width: 16px;
  height: 11px;
}

.icon-search {
  background: no-repeat url(../../assets/icons/search.svg) center center;
}

.icon-error-x {
  background: no-repeat url(../../assets/icons/error-x.svg) center center;
}
