
/* ICONS */

[class^="icon-"] {
  display: inline-block;
  float: left;
  width: 16px;
  height: 16px;
}

.icon-compose {
  background: no-repeat url(../../assets/icons/compose-icon.svg) left top;
}

.icon-leftarrow {
  background: no-repeat url(../../assets/icons/thin-arrow-inbox.svg) left top;
  width: 42px;
  height: 16px;
}

.icon-mail {
  background: no-repeat url(../../assets/icons/mail.svg) left top;
  width: 16px;
  height: 11px;
}

.icon-search {
  background: no-repeat url(../../assets/icons/search.svg) left top;
}

.icon-error-x {
  background: no-repeat url(../../assets/icons/error-x.svg) left top;
}

.icon-collapse-arrow {
  background: no-repeat url(../../assets/icons/collapse-arrow.svg) left top;
}
