* {
	font-style: normal;
	font-variant: normal;
}

html, h1, p, pre {
  font-family: 'Cerebri Sans Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #042D45;
}

h1 {
	font-size: 1.571em;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
    font-family: 'Cerebri Sans Medium', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.786em;
    color: #89969F;
}

h3 {
	font-family: 'Cerebri Sans Medium', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-size: 1.286em;
    line-height: 1.6em;
	font-weight: 400;
}
blockquote {
	font-family: 'Cerebri Sans Medium', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-size: 13px;
	font-weight: 400;
	line-height: 18.5714px;
}
/* type */

.u-text-uppercase{
	text-transform: uppercase;
}

.u-pl-1{ padding-left: 6px; }

.u-pl-1{ padding-left: 12px; }

.u-pl-1{ padding-left: 18px; }

.u-pl-1{ padding-left: 24px; }

/* adding relevant fonts */
@font-face {
font-family: "Cerebri Sans Regular";
src: url("../../fonts/CerebriSans-Regular.otf");
}

@font-face {
font-family: "Cerebri Sans Medium";
src: url("../../fonts/CerebriSans-Medium.otf");
}

