.u-plr-1 {
  padding: 0 0.25em 0 0.25em;
}

.u-plr-2 {
  padding: 0 0.5em 0 0.5em;
}

.u-plr-3 {
  padding: 0 0.75em 0 0.75em;
}

.u-plr-4 {
  padding: 0 1.0em 0 1.0em;
}


.u-pl-1 {
  padding-left: 0.25em;
}

.u-pl-2 {
  padding-left: 0.5em;
}

.u-pl-3 {
  padding-left: 0.75em;
}

.u-pl-4 {
  padding-left: 1.0em;
}

.u-pl-5 {
  padding-left: 1.25em;
}



.u-pr-1 {
  padding-right: 0.25em;
}

.u-pr-2 {
  padding-right: 0.5em;
}

.u-pr-3 {
  padding-right: 0.75em;
}

.u-pr-4 {
  padding-right: 1.0em;
}

.u-pr-5 {
  padding-right: 1.25em;
}


.u-p-1 {
  padding: 0.25em;
}

.u-p-2 {
  padding: 0.5em;
}


.u-f-l {
  float: left;
}

.u-f-r {
  float: right;
}
