// all of the sass variables used throughout the inb0x component library.

// core colors
$color-blue-dark: #002D47;
$color-blue-light: #F7F9FB;
$color-green: #00E7C0;


$color-text: #444444;
$color-grey: #525860;
$color-grey-light: lighten($color-grey, 30%);
