// all of the sass variables used throughout the inb0x component library.

// core colors
$color-blue-dark: #002D47;
$color-blue-light: #F7F9FB;
$color-green: #00E7C0;
$white: #FFFFFF;


$color-text: #444444;
$color-text-inactive: opacify($color-text, .3);
$color-text-grey: #525860;
$colot-text-blue: #89969F;
